[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-bootstrap = "*"
flask-wtf = "*"
wtforms = "*"
pymongo = "*"
flask-markdown = "*"
logzero = "*"
pyyaml = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
flake8 = "*"

[requires]
python_version = "3"
