textarea#ingredients {
    height: 150px;
}

textarea#directions {
    height: 400px;
}

img {
    max-width: 500px;
    max-height: 400px;
}

a.navbar-brand > img {
    width: 55px;
}

.btn-top {
    margin: 8px 2px 8px 2px;
}

.hr-line {
    width: 100%;
    position: relative;
    margin: 15px 0px 15px 0px;
    border-bottom: 1px solid #000;
}

div.row-edit-section {
    background-color: #EDEDED;
    border-radius: 10px;
    padding: 25px;
    margin: 8px 0px 8px 0px;
}

footer {
    background-color: #343a40 !important;
    color: white;
}
